:root {
  --circle-size: 25px;
}

@font-face {
    font-family: "Hooked";
    src: url("../assets/hooked.otf") format("opentype");
}

@keyframes colorchanger {
    0%  {background-position: 0% 47%;}
    50%  {background-position: 100% 54%;}
    100% {background-position: 0% 47%;}
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.frame {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	flex-direction: column;
	align-content: stretch;
}

.item {
}
.item:first-child {
	background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
	width: 100%;
	text-align: center;
	min-height: 1%;
    animation: colorchanger 2s ease infinite;
}
.item:last-child {
	font-family: "Hooked";
	font-size: 1em;
	color: white;
	display: flex;
	align-items:flex-end;
	width: 100%;
	justify-content:space-around;
}

.center {
	font-family: "Hooked";
	font-size: 3em;
	color: white;
}

.circle {
	background-color: #fff;
	margin: calc(var(--circle-size)/2*-1);
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 100%;
}

.circle:hover {
	animation: moveUp 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	color: #000;
}

@keyframes moveUp {
	from {
		margin: calc(var(--circle-size)/2*-1);
		width: var(--circle-size);
		height: var(--circle-size);
	}
	to {
		margin: 0px;
		width: calc(var(--circle-size)*4); 
		height: calc(var(--circle-size)*4);
	}
}
