:root {
  --circle-size: 25px;
}

@font-face {
    font-family: "Hooked";
    src: url("../assets/hooked.otf") format("opentype");
}

@font-face {
    font-family: "Typewriter";
    src: url("../assets/Typewriter.ttf") format("truetype");
}

@keyframes colorchanger {
    0%  {background-position: 0% 47%;}
    50%  {background-position: 100% 54%;}
    100% {background-position: 0% 47%;}
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background: url("../assets/background.jpg");
	background-size:cover;
}
.frame {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	flex-direction: column;
	align-content: stretch;
}

.frame::after {
	content: "";
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	opacity: 0.61;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
  	z-index: -1;   
}

.item {
}
.item:first-child {
	background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
	width: 100%;
	text-align: center;
	min-height: 1%;
    animation: colorchanger 2s ease infinite;
}
.item:last-child {
	font-family: "Hooked";
	font-size: 1em;
	color: white;
	display: flex;
	align-items:flex-end;
	width: 100%;
	justify-content:space-around;
}

.center {
	font-family: "Typewriter";
	font-size: 3em;
	color: white;
}

.circle {
	background-color: #fff;
	color: #000;
	margin: calc(var(--circle-size)/2*-1);
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 100%;
}

.circle:hover {
	animation: moveUp 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.circle > span {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    visibility:hidden;
}

.blink {
    color: #6b889d;
    animation: 2s linear 0s normal none infinite blink;
    -webkit-animation: 2s ease-out 0s normal none infinite blink;
    -moz-animation: 2s ease-out 0s normal none infinite blink;
    -o-animation: 2s ease-out 0s normal none infinite blink;
}

@keyframes blink {
    0% {
    	opacity: 1;
	}
	50% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
	    opacity: 1;
	}
	50% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}

@keyframes moveUp {
	from {
		margin: calc(var(--circle-size)/2*-1);
		width: var(--circle-size);
		height: var(--circle-size);
	}
	to {
		margin: 0px;
		width: calc(var(--circle-size)*4); 
		height: calc(var(--circle-size)*4);
	}
}
